{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div class="relative text-white" x-data="{ mobileMenuOpen: false, searchBarOpen: false }" x-cloak>
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-6 md:space-x-10">
      <div class="-mr-2 -my-2 mx-0">
        <button
          type="button"
          class="cursor-pointer p-2 inline-flex items-center justify-center focus:outline-none text-white"
          x-on:click="mobileMenuOpen = !mobileMenuOpen"
        >
          {% render 'hamburguer-icon' %}
        </button>
      </div>

      <!-- NAVIGATION MENU -->
      {% comment %}
        <nav class="hidden md:flex space-x-10">
          {% for link in main_menu_linklist %}
            <div class="relative">
              <a href="{{ link.url }}" class="cursor-pointer text-base text-white hover:text-gray-900">
                {{- link.title -}}
              </a>
            </div>
          {% endfor %}
        </nav>
      {% endcomment %}

      <!-- STORE NAME / STORE LOGO -->
      <div class="flex m-0 truncate">
        <h1 class="text-xl font-bold truncate">{{ section.settings.mobile_menu_title }}</h1>
      </div>

      <div class="flex items-center  space-x-5">
        <button
          x-on:click="searchBarOpen=true"
          type="button"
          class="whitespace-nowrap text-base text-white hover:text-gray-900 cursor-pointer"
        >
          {% render 'icon-search' %}
        </button>
        <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-white hover:text-gray-400">
          {% render 'icon-shopping-bag' %}
        </a>

        {% if shop.customer_accounts_enabled %}
          <a href="{{ routes.account_login_url }}" class="text-base text-white hover:text-gray-400">Login</a>
          <a href="{{ routes.account_register_url }}" class="text-base text-white hover:text-gray-400">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div
    x-show="mobileMenuOpen"
    @click.away="mobileMenuOpen = false"
    class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left"
  >
    <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
      <div class="p-5 divide-y-2 divide-gray-50">
        <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
        <div class="flex items-center justify-between pb-3">
          <div>
            <h1 class="text-lg text-gray-500">MENU</h1>
          </div>
          <div class="-mr-2">
            <button
              x-on:click="mobileMenuOpen = !mobileMenuOpen"
              type="button"
              class="bg-white rounded-md p-2 text-gray-500"
            >
              {% render 'close-icon' %}
            </button>
          </div>
        </div>

        <!-- NAVIGATION LINKS FOR MOBILE MENU -->
        <div class="pt-3">
          <nav class="grid gap-y-7">
            {% for link in main_menu_linklist %}
              {% if link.links != blank %}
                <div class="relative" x-data="{ subitemsOpen: false }">
                  <button
                    type="button"
                    class="cursor-pointer text-base text-gray-500 hover:text-gray-900 flex items-center justify-between w-full"
                    x-on:click="subitemsOpen = !subitemsOpen"
                  >
                    <div class="">{{ link.title }}</div>
                    {% render 'icon-chevron-down' %}
                  </button>

                  <div x-show="subitemsOpen" class="grid gap-y-7 py-3">
                    {% for subitem in link.links %}
                      <a
                        href="{{ subitem.url }}"
                        class="-m-3 p-3 mt-2 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50"
                      >
                        <span class="ml-3 text-base font-medium text-gray-500">{{ subitem.title }}</span>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <a
                  href="{{ link.url }}"
                  class="-m-3 p-3 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50"
                >
                  {{ link.title }}
                </a>
              {% endif %}
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div x-show="searchBarOpen" class="w-full absolute top-0 bg-white border">
    <button
      type="button"
      x-on:click="searchBarOpen=false"
      class="cursor-pointer absolute top-0 right-2 my-5 mt-5 text-gray-500"
    >
      {% render 'close-icon' %}
    </button>
    <div class="h-40 justify-center items-center">
      <form action="{{ routes.search_url }}" method="get">
        <div class="relative text-gray-500 px-10 border">
          <input
            type="search"
            name="q"
            placeholder="Search"
            class="w-full bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none "
          >
          <button type="submit" class="buttonSearch absolute right-0 top-0 mt-2 my-2 md:mr-20">
            {% render 'icon-search' %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "label": "Title",
      "default": "Marty Supreme",
      "info": "This is the title for the mobile menu window"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Header Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
