<div class="container mx-auto">
  {% paginate search.results by 12 %}
    <h1 class="text-xl my-4 text-center">Search results</h1>

    <p class="text-xl">{{ search.results.size }} results found for {{ search.terms | escape }}</p>

    <div class="flex justify-center mb-6">
      <form action="{{ routes.search_url }}" method="get" class="border flex rounded my-2">
        <input
          type="search"
          name="q"
          placeholder="Search"
          value="{{ search.terms | escape }}"
          class="px-4 py-2 w-80 border-none bg-white"
        >
        <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white border px-4 cursor-pointer">Search</button>
      </form>
    </div>

    {% if search.performed %}
      {% if search.results.size > 0 %}
        <div class="max-w-6xl mx-auto">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for item in search.results %}
              {% case item.object_type %}
                {% when 'product' %}
                  {% render 'product-card', product_product: item %}
              {% endcase %}
            {% endfor %}
          </div>
        </div>

      {% else %}
        <div class="text-center my-4">
          <p>
            No results found for the search <span class="font-bold">{{ search.terms | escape }}</span>. Try to use a
            different keyword.
          </p>
        </div>
      {% endif %}
    {% endif %}

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>
