<div class="relative">

  <!-- Bottom gradient overlay -->
  <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black/70 z-10"></div>

  <!-- Text + button -->
  <div class="absolute bottom-0 left-0 z-20 p-6 w-full">
    <h1 class="text-white text-4xl font-bold mb-4">
      {{ section.settings.title }}
    </h1>

    <a
      class="text-center inline-block w-full font-bold max-w-[500px] bg-[#FD7603] hover:bg-[#fd7803c5] text-white px-6 py-3 rounded-md"
      href="{{ section.settings.primary_cta_link }}"
    >
      {{ section.settings.primary_cta_text }}
    </a>
  </div>

  <!-- Image -->
  <img
    src="{{ section.settings.banner_image | image_url }}"
    alt="{{ section.settings.banner_image.alt | default: section.settings.title }}"
    class="w-full h-[80vh] object-cover"
  >
</div>


{% schema %}
{
  "name": "Template Main Hero",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Marty Supreme"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "primary_cta_text",
      "label": "Primary CTA Text"
    },
    {
      "type": "text",
      "id": "primary_cta_link",
      "label": "Primary CTA Link"
    }
  ]
}
{% endschema %}
